<div id="myModal">

<div class="modal_container">
 <div id="content" >
	<form >
  		<h3>Name:</h3>
  		<input type="text" name="name" value="{{name}}">
  		<h3>Profile Picture:</h3>
  		<input type="url" name="url" value="{{photoUrl}}">
  		<h3>Email:</h3>
  		<input type="email" name="email" value="{{email}}">
   		<h3>Phone:</h3>
 		 <input type="phone" name="phone" value="{{phone}}">
   		<h3>Position:</h3>
  		<input type="text" name="pos" value="{{pos}}">
   		<h3>Department:</h3>
  		<input type="text" name="dept" value="{{dept}}">
   		<h3>Location:</h3>
  		<input type="text" name="loc" value="{{loc}}">
   		<h3>Salary:</h3>
  		<input type="text" name="dept" value="{{salary}}">
 		<br><br>
  		<input type="submit" value="Submit">
		<input type="submit" value="Submit">
	</form> 
</div>
</div>
</div>
