<div id="myModal">

<div class="modal_container">
 <div id="content" >
	<form >
<<<<<<< HEAD
  		<h3>Name:</h3>
  		<input type="text" name="name" value="{{name}}">
  		<h3>Profile Picture:</h3>
  		<input type="url" name="url" value="{{photoUrl}}">
  		<h3>Email:</h3>
  		<input type="email" name="email" value="{{email}}">
   		<h3>Phone:</h3>
 		 <input type="phone" name="phone" value="{{phone}}">
   		<h3>Position:</h3>
  		<input type="text" name="pos" value="{{pos}}">
   		<h3>Department:</h3>
  		<input type="text" name="dept" value="{{dept}}">
   		<h3>Location:</h3>
  		<input type="text" name="loc" value="{{loc}}">
   		<h3>Salary:</h3>
  		<input type="text" name="dept" value="{{salary}}">
 		<br><br>
  		<input type="submit" value="Submit">
		<input type="submit" value="Submit">
=======
  		Name:
  		<input id="fname" type="text" name="name" value="">
  		<br>
  		Profile Picture:
  		<input id="fpic" type="url" name="url" value="">
  		<br>
  		Email:
  		<input id="fmail" type="email" name="email" value="">
  		<br>
   	Phone:
 		 <input id="fphone" type="phone" name="phone" value="">
   	<br>
   	Position:
  		<input id="fpos" type="text" name="pos" value="">
   	<br>
   	Department:
  		<input id="fdep" type="text" name="dept" value="">
  		<br>
   	Location:
  		<input id="floc" type="text" name="loc" value="">
   	<br>
   	Salary:
  		<input id="fsal" type="text" name="dept" value="">
 		<br><br>
  		<input onclick="processForm()" type="button" value="Submit"><input type="button" onclick="hideModal()" value="cancel">
>>>>>>> ced0eb1d7103a0e16a762d4809c26a8312ea871c
	</form> 
</div>
</div>
</div>
