 <div class="modal fade hidden" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{name}}</h4>
                        </div>
                        <div class="modal-body">
                        	<div class="modal_img_container">
                     			<img src="{{photoURL}}" alt="{{description}}">
                				</div>
                				<div class="modal_info">
                					<span> Name:<span> {{name}} </span></span>
                					<span> Email: <span> {{email}} </span></span>
                					<span> Phone: <span> {{phone}} </span></span>
                					<span> Department: <span> {{dept}} </span></span>
										<span> Location: <span> {{loc}} </span></span>
                					<span> Position: <span> {{phone}} </span></span>
                					<span> Salry: <span> {{salry}} </span></span>
                					<span> Department: <span> {{dept}} </span></span>
										<div> pervious: <span> {{pervious}} </span></div>
                				<div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="hideModal()" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
